<div style="height: 110px"></div>
<div class="container">
    <br>
    <h1 class="text-center">Available Courses and Mentors</h1> <br>
    <div class="row justify-content-center">
        <div class="col-7 ">
            <div class="input-group">
                <button class="btn btn-dark ">Search</button>
                <input type="text" class="form-control bg-dark" style="border:0; color: white">
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-3" style="margin: 20px">
            <div class="card card-dark bg-dark" style="width: 18rem;">
                <img src={{c.img}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{c.name}}&nbsp;({{c.mentor}})</h5>

                    <p class="card-text">{{c.duration}} <br> <span class="badge bg-success">{{c.rating}}</span></p>

                    <a href="#" class="btn btn-primary">Details</a> <a href="#" class="btn btn-success"
                        style="float:right;">Apply now!</a>
                </div>
            </div>
        </div>
        <div class="col-3" style="margin: 20px">
            <div class="card card-dark bg-dark" style="width: 18rem;">
                <img src={{c.img}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{c.name}}&nbsp;({{c.mentor}})</h5>

                    <p class="card-text">{{c.duration}} <br> <span class="badge bg-success">{{c.rating}}</span></p>

                    <a href="#" class="btn btn-primary">Details</a> <a href="#" class="btn btn-success"
                        style="float:right;">Apply now!</a>
                </div>
            </div>
        </div>
        <div class="col-3" style="margin: 20px">
                <div class="card card-dark bg-dark" style="width: 18rem;">
                    <img src={{c.img}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{c.name}}&nbsp;({{c.mentor}})</h5>
    
                        <p class="card-text">{{c.duration}} <br> <span class="badge bg-success">{{c.rating}}</span></p>
    
                        <a href="#" class="btn btn-primary">Details</a> <a href="#" class="btn btn-success"
                            style="float:right;">Apply now!</a>
                    </div>
                </div>
            </div>
    </div>
    <!-- <div class="card card-dark bg-dark" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->
</div>