<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-opa">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h3><img src="https://img-premium.flaticon.com/png/512/1817/premium/1817851.png?token=exp=1633328321~hmac=cf98a59e65c0897f45537564aa38f8d1" width="80" alt="">  ShikShak</h3>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link "  aria-current="page"
                        routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="workoutlist">
                        Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-warning" type="submit">Login</button> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-warning" type="submit">Register</button>
            </form>
        </div>
    </div>
</nav>


