<div class="home-container">
    <div class="home-inner-container">
        <div class="container" style="height: 100vh;">
            <div class="contents">
                <h1>Thinking of taking up a new Hobby?</h1>
                <h2>Looking for experienced mentors?</h2>
                <p style="font-size: 20px">
                    ShikShak provides a wide range of cultural courses thaught by well-experienced <br> and high rated mentors.
                    Identify and Develop your new Talents. <br>
                    Kill the pandemic blues,learn from the comfort of your home

                </p>
                <button class="btn btn-warning" routerLink="courseview">Explore the Courses</button>
            </div>
        </div>
    </div>
</div>
